<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Demo page</title>
</head>
<body>
<div layout:fragment="content" class="container">

    <div class="jumbotron">
        <h1 style="text-align: center">COUNTRY TEST</h1>
        <p>TEST layaut thymelif</p>
        <p>
            <a class="btn btn-lg btn-primary" th:href="@{/country/new}" role="button">New Country</a>
        </p>

        <th:block th:each="country : ${countries}">
            <p th:text="${country}"></p>
        </th:block>
    </div>
</div>
</body>
</html>